docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {

    withLabel: fastq {
        container = "avsastry/fasterq-dump:1.2"
    }

    withLabel: trim_galore {
        container = "quay.io/biocontainers/trim-galore:0.6.5--0"
    }

    withLabel: bowtie {
        container = "quay.io/biocontainers/bowtie:1.2.3--py37hc9558a2_0"
    }

    withName: get_read_direction {
        container = "quay.io/biocontainers/rseqc:3.0.1--py37h516909a_1"
    }

    withName: gff2bed {
        container = "quay.io/biocontainers/bedops:2.4.37--hc9558a2_0"
    }

    withName: multiqc {
        container = "avsastry/multiqc-rockhopper:1.0"
    }

    withName: featureCounts {
        container = "quay.io/biocontainers/subread:2.0.1--hed695b0_0"
    }

    withLabel: python {
        container = "avsastry/biopython:1.0"
    }

    withName: sam2bam {
        container = "quay.io/biocontainers/samtools:1.6--h9dace67_6"
    }
}
