process {
    executor = 'local'
    withLabel: small {
        cpus = 1
        memory = 500.MB
    }
    withLabel: medium {
        cpus = 4
        memory = 4.GB
    }
    withLabel: large {
        cpus = 8
        memory = 8.GB
    }

    withLabel: stage {
        storeDir = "stage/${params.organism}"
    }

    withLabel: index {
        storeDir = "bt_index/${params.organism}"
    }
}
