// Name of your organism
params.organism = "" // Example: "Escherichia_coli"

// Whether to re-run execution if the result was already found
params.force = false

// Defaults for organism directory and metadata file
params.metadata = "" // Must be a tab-separated values file in .txt format
params.sequence_dir = "" // Must contain a genome.gff3 and genome.fasta file
