manifest {
    author = 'Anand Sastry'
    name = 'nextflow-bacterial-rnaseq'
    homePage = ''
    description = 'Nextflow pipeline for processing public microbial RNA-seq data'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1'
}

params {
    trace_dir = './trace/'
    multiqc_config = 'assets/multiqc_config.yaml'
}

profiles {
    
    local {
        includeConfig 'conf/user.config'
        includeConfig 'conf/local.config'
        includeConfig 'conf/docker.config'
    }

    // Can add additional profiles here for cloud or high-performance computation
    
    /* Examples:
    aws {
        includeConfig 'conf/user.config'
        includeConfig 'conf/aws.config' // This file needs to be created
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/user.config'
        includeConfig 'conf/slurm.config' // This file needs to be created
        includeConfig 'conf/docker.config'
    }

    */
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash','-euo','pipefail']

// Enable process tracking
timeline {
    enabled = true
    file = "${params.trace_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.trace_dir}/report.html"
}

trace {
    enabled = true
    file = "${params.trace_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.trace_dir}/dag.dot"
}

