manifest {
    author = 'Anand Sastry'
    name = 'nextflow-bacterial-rnaseq'
    homePage = ''
    description = 'Nextflow pipeline for processing public microbial RNA-seq data'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1'
}

// Set Parameters

params {
    organism = "None"
    metadata = "None"
    sequence_dir = "None"
    force = false
    help = false
    trace_dir = './trace/'
    multiqc_config = 'conf/multiqc_config.yaml'
}

// Configure dynamic retries

process {

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'
  
}

// Additional configuration

includeConfig 'conf/user.config'
includeConfig 'conf/docker.config'

profiles {
    local {
        includeConfig 'conf/local.config'
    }
    
    /* Additional configurations can go here
    aws {
        includeConfig 'conf/aws.config'
    }
    
    slurm {
        includeConfig 'conf/slurm.config'
    }
    */
    
}



// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash','-euo','pipefail']

// Enable process tracking
timeline {
    enabled = true
    file = "${params.trace_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.trace_dir}/report.html"
}

trace {
    enabled = true
    file = "${params.trace_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.trace_dir}/dag.dot"
}
